/* ---------------------------------------------------
breakpoint: 28em
------------------------------------------------------ */
@media (min-width: 28em) {
  .alert-container {
    min-width: 350px;
  }
}

/* ---------------------------------------------------
breakpoint: 50em
------------------------------------------------------ */
@media (min-width: 50em) {
    .page {
      height: calc(100vh - 80px);
      display: flex;
        justify-content: center;
    }

    .outer-task-wrapper {
      height: 100%;
      width: 100%;
      max-width: 1024px;
      max-height: 800px;
    }

    .task-wrapper {
      overflow-y: unset;
    }
  
    .clear-button {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  
    .task-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  
    .category-list.show {
      padding: 0 0.25em 1em;
    }
  
    .big-screen,
    .small-screen {
      width: 45%;
    }
  
    .separator-line {
      width: 1px;
      height: 200px;
      margin: 1em 0 0;
      display: block;
      background-color: var(--accent-color-gray);
    }
  
    .subtask-container-big {
      max-height: 100px;
      overflow-y: auto;
    }
  
    .alert-container {
      position: absolute;
    }

    .explanation-container {
        font-size: 0.8rem;
    }
  
    .d-none {
      display: none;
    }
  }

  /* -------------------------------------------------
  breakpoint 60em
  ---------------------------------------------------- */
  @media (min-width: 60em) {
    h1 {
        font-size: 1.9rem;
    }

    .task-wrapper {
        height: 100%;
    }

    .label,
    .prio-button {
        font-size: 1rem;
    }

    .explanation-container {
        font-size: 0.9rem;
    }

    .task-and-clear-button-wrapper {
        width: 250px;
    }

    .clear-button, 
    .dark-button {
        width: 120px;
        font-size: 1rem;
    }

    .clear-button {
        padding: 10px 12px;
        width: fit-content;
    }
  }

  @media (min-width: 60em) {
    h1 {
      margin-left: 0.5em;  
      font-size: 2rem;

    }

    .task-wrapper {
        height: 90%;
    }

    .label {
        font-size: 1.2rem;
    }

    input::placeholder,
    textarea::placeholder,
    .task-category {
        font-size: 1rem
    }

    .contact-list, 
    .category-list {
        top: 60px;
    }

    .contact-list li,
    .category-list li,
    .new-category {
        font-size: 1rem;
    }

    .explanation-container {
        font-size: 1rem;
    }
  }

  @media (min-width: 70em) {
    h1 {
      font-size: 3rem;
    }
  }