*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: var(--background-color-lightgray);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--background-color-darkblue);
  border: var(--accent-color-white) 3px solid;
  border-radius: 10px;
}

.task-description::-webkit-scrollbar,
.detail-contacts-wrapper::-webkit-scrollbar,
.detail-subtasks-wrapper::-webkit-scrollbar {
  width: 12px;
}

.drag-area::-webkit-scrollbar {
  height: 12px;
}

.main {
  padding: 1em 0.5em;
  background-color: var(--background-color-lightgray);
}

.board-headline {
  margin: 0.5em 0 0.5em;
  font-size: 34px;
  font-weight: 700;
  color: var(--background-color-darkblue);
}

h3 {
  font-weight: 400;
  text-transform: uppercase;
}

h4 {
  margin: 0 0 0.5em;
  font-size: 2rem;
  font-weight: 700;
}

.headline-searchbar-addTask-wrapper {
  margin: 0 0 1em;
}

.search-input-wrapper {
  height: 32px;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: var(--accent-color-darkgray) 1px solid;
  border-radius: 10px;
  background-color: var(--accent-color-white);
}

.search-input-wrapper:focus-within {
  border: var(--background-color-darkblue) 1.75px solid;
}

.search-icon-wrapper {
  width: 32px;
  margin: 0 4px 0 0;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-separator {
  width: 1px;
  height: 16px;
  background-color: var(--accent-color-darkgray);
}

.search-icon {
  height: 20px;
  filter: invert(94%) sepia(4%) saturate(20%) hue-rotate(314deg) brightness(91%)
    contrast(94%);
  cursor: pointer;
}

.search-matches {
  margin: 0.5em 0 0 0.25em;
  font-size: 0.6rem;
  opacity: 0;
}

.search-matches.visible {
  opacity: 1;
}

#searchbar {
  flex: 1 1 0;
  height: 90%;
  border: none;
  outline: none;
  background-image: url(../img/search_gray.svg);
  background-repeat: no-repeat;
  background-position: center right;
}

.headline-and-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addTaskToBoard-btn-small {
  margin: 0;
  height: 32px;
  padding: 2px;
  color: var(--accent-color-white);
  border: none;
  border-radius: 10px;
  background-color: var(--background-color-darkblue);
}

.addTaskToBoard-btn-small img {
  height: 100%;
}

.addTaskToBoard-btn-big {
  display: none;
}

.addTaskToBoard-btn-small:hover,
.addTaskToBoard-btn-big:hover {
  background-color: var(--accent-color-lightblue);
  cursor: pointer;
}

.status {
  display: flex;
  flex-direction: column;
}

.status-headline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--background-color-darkblue);
  font-size: 20px;
  font-weight: 600;
}

.addTask-btn {
  padding: 0.3em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--accent-color-anthracite);
  border-radius: 6px;
  filter: invert(94%) sepia(4%) saturate(20%) hue-rotate(314deg) brightness(91%)
    contrast(94%);
  cursor: pointer;
}

.drag-area {
  min-height: 220px;
  margin-bottom: 50px;
  padding: 8px 0;
  display: flex;
  overflow-x: auto;
}

.drag-area:last-of-type {
  margin-bottom: 80px;
}

.drag-area-highlight {
  background-color: rgba(0, 0, 0, 0.2);
}

.empty-list-message {
  width: 100%;
  height: fit-content;
  padding: 1rem;
  text-align: center;
  color: var(--accent-color-darkgray);
  border: var(--accent-color-darkgray) 1px dashed;
  border-radius: 8px;
  background-color: var(--background-color-mediumgray);
}

.todo-header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.three-dots-wrapper {
  padding: 0.25em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--accent-color-gray) 0.5px solid;
  border-radius: 50%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
  transition: box-shadow 0.3s ease; 
}

.three-dots-wrapper:hover {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.three-dots-wrapper img {
  filter: invert(81%) sepia(19%) saturate(1%) hue-rotate(341deg)
    brightness(100%) contrast(98%);
}

.todo {
  min-width: 200px;
  width: 200px;
  min-height: 200px;
  margin: 8px 0.75em;
  padding: 12px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 16px;
  box-shadow: -2px 0px 6px 0px rgb(0, 0, 0, 0.2);
  cursor: pointer;
}

.todo:hover {
  rotate: -3deg;
}

.todo-category {
  width: fit-content;
  padding: 4px 8px;
  font-size: 0.9rem;
  border-radius: 8px;
  color: var(--accent-color-white);
}

.todo-title {
  font-size: 0.75rem;
  font-weight: 700;
  color: var(--background-color-darkblue);
  margin: 16px 0 10px 0;
}

.todo-description {
  font-size: 0.75rem;
  color: var(--accent-color-darkgray);
  margin: 0 0 8px 0;
}

.progress-wrapper {
  padding: 2px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.progress-bar {
  width: 60%;
  height: 20px;
}

.label-for-progress {
  font-size: 0.6rem;
}

.contacts-and-prio-wrapper {
  margin: 8px 0;
  padding: 4px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-contact-wrapper {
  width: 150px;
  margin: 0 0.2em 0 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
}

.initials-icon {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.5rem;
  color: var(--accent-color-white);
  border: var(--accent-color-anthracite) 1px solid;
  border-radius: 50%;
}

.not-assigned {
  font-size: 0.7rem;
}

.overflow-indicator {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.6rem;
  font-weight: 700;
  border: var(--accent-color-anthracite) 1px solid;
  border-radius: 50%;
  background-color: var(--accent-color-gray);
}

.prio-icon {
  height: 12px;
  width: 16px;
}

.context-menu-card {
  width: 110px;
  height: 200px;
  position: absolute;
  top: 0;
  right: 0px;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color-lightgray);
  border: var(--background-color-darkblue) 1.5px solid;
  border-radius: 10px;
}

.context-menu-move-to-wrapper {
  height: 30px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.6rem;
  color: var(--accent-color-white);
  background-color: var(--background-color-darkblue);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.context-menu-close,
.detail-close-button {
  cursor: pointer;
}

.context-menu-close {
  height: 10px;
}

.context-menu-card ul {
  padding: 0.5em;
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.75rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.context-menu-card li {
  margin: 0 0 0.25em;
  padding: 0 0 0 0.25em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex: 1 1 0;
  font-size: 0.75rem;
  border: var(--background-color-mediumgray) 1px solid;
  background-color: var(--background-color-mediumgray);
  cursor: pointer;
}

.context-menu-card li:hover {
  color: var(--accent-color-white);
  background-color: var(--accent-color-darkgray);
}

.d-none {
  display: none;
}
