/* ---------------------------------------------------
breakpoint: 50em
------------------------------------------------------ */
@media (min-width: 50em) {
  body {
    background-color: var(--background-color-lightgray);
  }

  .main {
    margin: 0 0 0 170px;
    padding: 1em 0 0 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

 .board-wrapper {
  width: 100%;
  max-width: 1024px;
 }

  .headline-searchbar-addTask-wrapper {
    width: 100%;
    padding: 0 0.25em 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .search-matches {
    font-size: 0.6rem;
  }

  .board {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .searchbar-and-addTaskBtn-wrapper {
    width: 65%;
    display: flex;
    justify-content: space-between;
  }

  .inner-searchbar-wrapper {
    width: 75%;
  }

  .search-and-find-wrapper {
    width: 100%;
  }

  .addTaskToBoard-btn-small {
    display: none;
  }

  .addTaskToBoard-btn-big {
    height: 32px;
    padding: 4px 8px;
    display: inline;
    border: none;
    border-radius: 8px;
    color: var(--background-color-lightgray);
    background-color: var(--background-color-darkblue);
  }

  .status {
    width: 24%;
    display: flex;
    flex-direction: column;
  }

  .status-headline {
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--background-color-darkblue);
    font-size: 0.9rem;
    font-weight: 600;
  }

  .drag-area {
    width: 100%;
    height: 100%;
    padding: 0.25em;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
    overflow-x: unset;
    border-right: var(--accent-color-gray) 1px dashed;
    border-left: var(--accent-color-gray) 1px dashed;
  }

  .drag-area:last-of-type {
    margin-bottom: 0;
  }

  .drag-area-highlight {
    width: 100%;
  }

  .empty-list-message {
    height: 36px;
    padding: 0.25em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.65rem;
  }

  .todo {
    margin: 0.25em 0;
    padding: 0.3em;
    min-width: auto;
    max-width: 130px;
    width: 130px;
  }

  .todo-category {
    font-size: 0.6rem;
  }

  .three-dots-wrapper {
    width: 20px;
    height: 20px;
  }

  .todo-description {
    font-size: 0.6rem;
  }

  .label-for-progress {
    font-size: 0.4rem;
  }

  .not-assigned {
    font-size: 0.55rem;
  }

  .task-contact-wrapper {
    max-width: 80%;
  }

  .detail-task-wrapper {
    inset: 10px;
    transform: translateX(25%);
  }

  .subtask-list-item-icon-wrapper {
    opacity: 0;
  }

  .subtask-list-item-wrapper:hover {
    background-color: var(--background-color-mediumgray);
  }

  .subtask-list-item-wrapper:hover .subtask-list-item-icon-wrapper {
    opacity: 1;
  }
}

@media (min-width: 56em) {
  .headline-searchbar-addTask-wrapper {
    padding: 0 0.5em 0 0;
  }

  .search-matches {
    font-size: 0.75rem;
  }

  .empty-list-message {
    font-size: 0.8rem;
  }

  .todo {
    min-width: 165px;
  }

  .todo-category {
    font-size: 0.75rem;
  }

  .three-dots-wrapper {
    width: 28px;
    height: 28px;
  }

  .todo-title {
    font-size: 0.9rem;
  }

  .todo-description {
    font-size: 0.7rem;
  }

  .label-for-progress {
    font-size: 0.55rem;
  }
}

@media (min-width: 56em) {
  .empty-list-message {
    font-size: 0.85rem;
  }

  .todo {
    min-width: 175px;
  }

  .todo-category {
    font-size: 0.8rem;
  }


  .todo-description {
    font-size: 0.75rem;
  }

  .label-for-progress {
    font-size: 0.6rem;
  }

  .not-assigned {
    font-size: 0.75rem;
  }
}

@media (min-width: 65em) {
  .addTaskToBoard-btn-big {
    padding: 4px 12px;
  }

  .searchbar-and-addTaskBtn-wrapper {
    width: 60%;
    max-width: 600px;
  }

  .inner-searchbar-wrapper {
    width: 80%;
  }

  .status-headline {
    font-size: 1.2rem;
  }

  .drag-area {
    padding: 0.5em;
  }

  .empty-list-message {
    font-size: 0.95rem;
  }
}

@media (min-width: 70em) {
.todo {
  min-width: 200px;
  padding: 0.5em;
}

.todo-category {
  font-size: 1rem;
}

.todo-title {
  font-size: 1rem;
}

.todo-description {
  font-size: 0.9rem;
}

.label-for-progress {
  font-size: 0.7rem;
}
}

@media (min-width: 60em) {
  h1 {
    font-size: 1.9rem;
  }
}

@media (min-width: 70em) {
  h1 {
    font-size: 3rem;
  }
}