.sub-task-wrapper {
    width: 99%;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    background-color: var(--accent-color-white);
    border: var(--accent-color-gray) 1.5px solid;
    border-radius: 2px;
  }
  
  .sub-task-wrapper:focus-within {
    outline: var(--accent-color-anthracite) 1.5px solid;
  }
  
  .sub-task-wrapper img,
  .close-and-check-wrapper-edit-subtask img {
    cursor: pointer;
  }
  
  .sub-task-wrapper input {
    flex: 1;
    border: none;
  }
  .sub-task-wrapper input:focus {
    outline: none;
  }
  
  .subtasks-image-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
  }
  
  
  .close-and-check-wrapper,
  .close-and-check-wrapper-edit-subtask {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
  }
 

  .cancel-subtask,
  .cancel-edit-subtask {
    height: 16px;
  }
  
  .check-subtask,
  .check-edit-subtask {
    height: 10px;
  }


  .check-subtask,
  .check-edit-subtask {
    filter: invert(1);
  }
  
  .separator-line {
    display: none;
  }
  
  .subtask-list-small::before,
  .subtask-list-big::before {
    content: '\2022';
    margin-right: 8px;
  }
  
  .subtask-list-small,
  .subtask-list-big {
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.8rem;
    background-color: var(--background-color-lightgray);
    border: none;
    border-radius: 4px;
  }
  
  .subtask-list-small:hover,
  .subtask-list-big:hover {
    background-color: var(--background-color-mediumgray);
  }
  
  .subtask-button-wrapper-small,
  .subtask-button-wrapper-big {
    width: 40px;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .subtask-button-wrapper-big {
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .subtask-list-big:hover .subtask-button-wrapper-big {
    opacity: 1;
  }
  
  .subtask-button-wrapper-small img:first-of-type,
  .subtask-button-wrapper-big img:first-of-type {
    height: 16px;
    cursor: pointer;
  }
  
  .subtask-button-wrapper-small img:last-of-type,
  .subtask-button-wrapper-big img:last-of-type {
    height: 14px;
    cursor: pointer;
  }
  
  .edit-subtask-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
  }
  
  .edit-input {
    flex: 1;
  }
  
  .edit-subtask-button {
    padding: 0.2em 0.4em;
    font-weight: 700;
    background-color: var(--background-color-darkblue);
    color: var(--accent-color-white);
    border-radius: 4px;
    cursor: pointer;
  }
  
  .subtask-separator-line {
    width: 1px;
    height: 12px;
    background-color: var(--accent-color-darkgray);
  }
  
  #contact_list::-webkit-scrollbar,
  .subtask-container-big::-webkit-scrollbar,
  .category-list::-webkit-scrollbar {
    width: 12px;
  }
  
  
  .create-task-wrapper {
    padding: 24px 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .create-task-wrapper.overlay {
    margin: 0;
    padding: 12px 1em;
  }
  
  .explanation-container {
    font-size: 0.7rem;
  }
  
  .task-and-clear-button-wrapper {
    width: 165px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
  }
  
  .clear-button {
    padding: 0.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    font-size: 0.8rem;
    background-color: var(--accent-color-white);
    border: var(--accent-color-gray) 1px solid;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .clear-button svg {
    height: 16px;
  }
  
  .clear-button:hover {
    color: var(--accent-color-lightblue);
    border: var(--accent-color-lightblue) 1px solid;
  }
  
  .clear-button:hover .x-icon {
    fill: var(--accent-color-lightblue);
  }
  
  .dark-button {
    width: 100px;
    padding: 0.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.8rem;
    font-weight: 700;
    color: var(--accent-color-white);
    background-color: var(--background-color-darkblue);
    border: var(--background-color-darkblue) 1px solid;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .dark-button:hover {
    background-color: var(--accent-color-lightblue);
    border: var(--accent-color-lightblue) 1px solid;
    color: var(--accent-color-white);
  }
  
  .dark-button img {
    height: 8px;
  }
  
  .alert-container {
    min-width: 290px;
    max-width: 400px;
    height: 200px;
    position: fixed;
    top: 30%;
    left: 50%;
    z-index: 50;
    transform: translateX(-50%);
    bottom: 10%;
    background-color: var(--background-color-lightgray);
    border: var(--background-color-darkblue) 2px solid;
    border-radius: 10px;
  }
  
  .alert-image-wrapper {
    height: 22%;
    padding: 0.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-color-darkblue);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .alert-logo {
    height: 36px;
  }
  
  .alert-close {
    cursor: pointer;
  }
  
  .alert-content {
    padding: 1em;
    height: 78%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--background-color-darkblue);
    font-weight: 700;
  }
  
  .alert-message {
    text-align: center;
    line-height: 1.4;
  }

  .d-none {
    display: none;
  }