body {
  background-color: var(--background-color-lightgray);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.dark-btn {
  margin-top: 32px;
  padding: 18px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Inter;
  font-size: 21px;
  font-weight: 700;
  color: var(--accent-color-white);
  background-color: var(--background-color-darkblue);
  border: var(--background-color-darkblue) 1px solid;
  border-radius: 10px;
  cursor: pointer;
  gap: 4px;
}

.dark-btn:hover:not(.contact-created) {
  background-color: var(--accent-color-lightblue);
  border: var(--accent-color-lightblue) 1px solid;
  color: var(--accent-color-white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.dark-btn img {
  height: 24px;
  width: 24px;
  padding: 4px;
}

.white-btn {
  margin-top: 32px;
  padding: 18px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Inter;
  font-size: 21px;
  font-weight: 400;
  color: var(--background-color-darkblue);
  background-color: var(--accent-color-white);
  border: var(--background-color-darkblue) 1px solid;
  border-radius: 10px;
  cursor: pointer;
  gap: 4px;
}

.white-btn svg {
  stroke: var(--background-color-darkblue);
}

.white-btn:hover,
.white-btn:hover svg path {
  border: var(--accent-color-lightblue) 1px solid;
  color: var(--accent-color-lightblue);
  stroke: var(--accent-color-lightblue);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

header {
  z-index: 1;
}

.add-contact {
  height: 3.5em;
  width: 3.5em;
  padding: 0.75em;
  background-color: var(--background-color-darkblue);
  border-radius: 50%;
  position: fixed;
  bottom: 7em;
  right: 1em;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.add-contact:hover {
  cursor: pointer;
  background-color: var(--accent-color-lightblue);
}

.main {
  display: flex;
  width: 100%;
}

.contact-list {
  background-color: var(--accent-color-white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 24px;
  margin-bottom: 76px;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: calc(100vh - 160px);
}

.contact-list h1 {
  font-size: 20px;
}

.contact-list span {
  font-size: 12px;
}

.contact p {
  color: var(--color-variant16);
  font-size: 16px;
  overflow-wrap: anywhere;
}

.group {
  display: flex;
  padding: 17px 36px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.separator {
  display: flex;
  padding: 8px 0px;
  flex-direction: column;
  gap: 10px;
  align-self: stretch;
}

.contact {
  padding: 15px 24px;
  display: flex;
  justify-content: flex-start;
  gap: 35px;
  border-radius: 10px;
  background-color: var(--accent-color-white);
  border-color: var(--accent-color-white);
  width: 100%;
  border-style: hidden;
  overflow: hidden;
}

.contact:hover:not(:focus) {
  cursor: pointer;
  background: var(
    --Boton-gradient,
    linear-gradient(180deg, #f9f9f9 0%, #f0f0f0 100%)
  );
}

.contact:focus {
  background-color: #091931;
  color: var(--accent-color-white);
}

.initials {
  min-height: 42px;
  min-width: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-variant9);
  border: solid 2px var(--accent-color-white);
  color: var(--accent-color-white);
  border-radius: 50%;
}

.text span {
  font-size: 47px;
  font-style: normal;
  font-weight: 500;
}

.contact-info {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 5px;
}

.contact-info h3 {
  color: #000;
}

.dark-button {
  display: none;
}

.contacts {
  display: block;
  padding-top: 110px;
  padding-left: 62px;
  position: absolute;
  width: 100%;
  height: calc(100% - 79px);
  background-color: var(--background-color-lightgray);
}

.contacts h1 {
  font-size: 61px;
  font-weight: 700;
}

.contacts h3 {
  font-size: 27px;
  font-weight: 400;
}

.contacts-header {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 32px;
}

.contacts-header h3 {
  color: var(--background-color-darkblue);
}

.contact-details {
  display: flex;
  flex-direction: column;
  gap: 21px;
  position: absolute;
  left: 62px;
}

.contact-details h2 {
  margin: 32px 0;
  font-size: 20px;
}

.name {
  display: flex;
  align-items: center;
  gap: 54px;
}

.name h3 {
  font-size: 47px;
  font-weight: 500;
}

.large span {
  font-size: 47px;
  font-weight: 500;
}

.large {
  min-height: 120px;
  min-width: 120px;
}

.vertical-line {
  display: block;
}

.horizontal-line {
  display: none;
}

#arrow {
  position: absolute;
  right: 2em;
  top: 6em;
}

#arrow:hover {
  cursor: pointer;
}

#contact_form {
  height: 100%;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.background {
  background-color: rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.add-form {
  height: 82%;
  width: 90%;
  max-width: 512px;
  background-color: var(--accent-color-white);
  z-index: 3;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.add-form h1 {
  font-size: 47px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.add-form p {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.add-form-header {
  width: 100%;
  height: 45%;
  background-color: var(--background-color-darkblue);
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  color: white;
  display: flex;
  padding: 66px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  flex-shrink: 0;
}

.position {
  position: absolute;
  left: calc(50% - 60px);
  top: calc(45% - 60px);
  background-color: var(--accent-color-darkgray);
  width: 120px;
  height: 120px;
}

.close-btn {
  position: absolute;
  top: 24px;
  right: 16px;
}

.close-btn:hover {
  cursor: pointer;
}

.cancel-btn {
  display: none;
}

.delete-btn {
  display: flex;
}

.form {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  padding-top: 96px;
  gap: 15px;
}

.form-buttons {
  display: flex;
  justify-content: flex-start;
  gap: 24px;
}

.form-logo {
  display: none;
}

input {
  display: flex;
  height: 41px;
  padding: 10px 21px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 10px;
  border: 1px solid var(--Style, #d1d1d1);
  background: #fff;
  color: var(--black, #000);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

input::placeholder {
  color: var(--Style, #d1d1d1);
  position: relative;
  top: 2px;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

input:focus-visible {
  outline: var(--accent-color-lightblue) solid 1px;
}

#add_name {
  background: url(../img/person.svg) no-repeat scroll;
  background-position: top 12px right 21px;
  text-transform: capitalize;
}

#add_email {
  background: url(../img/mail.svg) no-repeat scroll;
  background-position: top 12px right 21px;
}

#add_phone {
  background: url(../img/call.svg) no-repeat scroll;
  background-position: top 8px right 21px;
}

