body {
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: var(--background-color-darkblue);
}

.login-page {
  width: 100vw;
  height: 100vh;
  max-width: 1440px;
  max-height: 1024px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  transition: background-color 1s;
}

.login-join-logo {
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 2s;
}

.change-background-color {
  animation: changeBackground 1s forwards;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 2s;
}

.animate-logo {
  animation: moveLogo 2s forwards;
}

.change-logo-color {
  animation: changeLogoColor 2s forwards;
}

.animate-content {
  animation: showContent 3s forwards 2s;
}

@keyframes changeBackground {
  0% {
    background-color: var(--background-color-darkblue);
  }

  100% {
    background-color: var(--background-color-lightgray);
  }
}

@keyframes changeLogoColor {
  0% {
    fill: var(--accent-color-white);
  }

  100% {
    fill: var(--background-color-darkblue);
  }
}

@keyframes moveLogo {
  0% {
    transform: translate(-50%, -50%);
    height: 100px;
  }

  100% {
    top: 36px;
    left: 36px;
    height: 50px;
  }
}

@keyframes showContent {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }

  100% {
    opacity: 1;
    pointer-events: auto;
    animation-timing-function: ease-in;
  }
}

.login-content,
.sign-up-content {
  width: 80vw;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.login-content {
  width: 98%;
  max-height: 600px;
  justify-content: center;
}

.sign-up-content {
  width: 98%;
  max-width: 450px;
  padding: 1em 1em;
  border-radius: 12px;
 
  margin: 3.5rem 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--accent-color-white);
  gap: 24px;
  border-radius: 30px;
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
}

.center {
  justify-content: center;
  margin: 32px 0;
}

.center label, .center a{
  font-size: 16px;
}

.center label{
  color: #a8a8a8;
  font-size: 12px;
}

.center label a {
  font-size: 12px;
}

.headline-login-content,
.headline-sign-up-content {
  width: 100%;
  margin: 0 0 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.sign-up-content a {
  color: var(--accent-color-lightblue);
}

.sign-up-headline-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.sign-up-headline-wrapper img {
  cursor: pointer;
}

.login-content h1,
.sign-up-content h1 {
  margin: 0 auto;
  font-size: 32px;
  font-weight: 700;
  color: var(--background-color-darkblue);
}

.invisible-arrow {
  opacity: 0;
}

.blue-line {
  height: 3px;
  width: 88px;
  background-color: var(--accent-color-lightblue);
}

.combined-signup-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form-content-without-sign-up-button {
  width: 100%;
  max-width: 450px;
  margin: 0 auto 0.5em;
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--accent-color-white);
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
  border-radius: 30px;
}

.login-content form,
.sign-up-content form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 12px;
}

.login-content form {
  max-height: 600px;
  margin: 1em 0 0;
}

.sign-up-content form {
  gap: 32px;
}

.login-input-and-button-wrapper {
  height: 50%;
  margin: 1em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

.login-input-wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0.3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: var(--accent-color-lightgray) 1px solid;
  border-radius: 10px;
}

.login-input-wrapper:focus-within {
  outline: var(--accent-color-anthracite) 1px solid;
  box-shadow: 0 0 0 2px var(--accent-color-lightgray);
}

input[type='text'],
input[type='email'],
input[type='password'] {
  width: 100%;
  height: 28px;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: 20px;
  padding-left: 8px;
}

input::placeholder {
  font-family: inherit;
  color: #d1d1d1;
}


input[type='text'] {
  background-image: url(../img/person.svg);
  background-repeat: no-repeat;
  background-position: 98% 50%;
  background-size: 20px;
}

input[type='email'] {
  background-image: url(../img/mail.svg);
  background-repeat: no-repeat;
  background-position: 98% 50%;
  background-size: 20px;
}

input[type='password'] {
  background-image: url(../img/lock.svg);
  background-repeat: no-repeat;
  background-position: 98% 50%;
  background-size: 22px;
}

input:hover {
  cursor: pointer;
}

.remember-user {
  width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 0.8rem;
}

.button-wrapper-log-in,
.button-wrapper-sign-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.button-wrapper-log-in {
  width: 100%;
  gap: 21px;
}

button {
  width: fit-content;
  padding: 0.5em 1em;
  cursor: pointer;
}

.light-button a {
  color: var(--accent-color-anthracite);
  font-size: inherit;
  font-weight: 700;
}

.light-button:hover .light-button-link {
  color: var(--accent-color-lightblue);
}

.dark-button:hover,
.light-button:hover {
  border: var(--accent-color-lightblue) 1px solid;
  box-shadow: 0px 4px 4px var(--shadow-color);
}

.dark-button:hover {
  background-color: var(--accent-color-lightblue);
  color: var(--accent-color-white);
}

.light-button:hover {
  color: var(--accent-color-lightblue);
}

.button-login,
.button-sign-up {
  display: block;
  background-color: var(--background-color-darkblue);
  color: var(--accent-color-white);
  border: var(--background-color-darkblue) 1px solid;
  border-radius: 8px;
  font-size: 21px;
  width: 180px;
}

.button-guest-login {
  background-color: var(--accent-color-white);
  color: var(--background-color-darkblue);
  border: var(--background-color-darkblue) 1px solid;
  border-radius: 8px;
  font-size: 21px;
  width: 180px;
}

.sign-up-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
}

.sign-up-wrapper p {
  font-size: 16px;
}

.button-sign-up {
  padding: 0.5em 0.5em;
  width: 100px;
  font-size: 16px;
}

.legal-wrapper {
  margin: 2rem 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  font-size: 0.7rem;
}

.legal-wrapper a {
  color: var(--accent-color-gray);
}

.legal-wrapper a:hover {
  color: var(--accent-color-anthracite);
}

.sign-up-wrapper-big-screen {
  display: none;
}

.messageBox {
  display: none;
  text-align: center;
  border: 3px solid var(--background-color-darkblue);
  border-radius: 14px;
  padding: 16px;
}

.d-none {
  display: none;
}