<div class="header-wrapper">
  <img class="header-join-logo" src="../img/join_logo.svg" alt="" />
  <p>Kanban Project Management Tool</p>
  <div id="header_icons" class="header-icon-wrapper">
    <div id="header_help_icon" class="header-help-icon">
      <a href="help.html">
        <img src="../img/help.svg" alt="" />
      </a>
    </div>
    <div id="user_icon" class="user-icon" onclick="toggleHeaderMenu()"></div>
  </div>
  <div id="background_wrapper" class="background-wrapper d-none" onclick="toggleHeaderMenu()">
    <div id="header_menu" class="header-menu d-none">
      <a href="../html/legal_notice.html">Legal Notice</a>
      <a href="../html/privacy_policy.html">Privacy Policy</a>
      <a onclick="logout()">Log out</a>
    </div>
  </div>
</div>