<div class="nav">
  <a href="../html/summary.html" class="join-logo">
    <img src="../img/join_logo_white.svg" alt="" />
  </a>
  <div id="menu_items_wrapper" class="menu-items-wrapper">
    <div id="summary_link" class="menu-items">
      <a href="../html/summary.html">
        <img src="../img/summary.svg" alt="" />
        <p>Summary</p>
      </a>
    </div>
    <div id="board_link" class="menu-items">
      <a href="../html/board.html">
        <img src="../img/board.svg" alt="" />
        <p>Board</p>
      </a>
    </div>
    <div id="add_task_link" class="menu-items">
      <a href="../html/add_task.html">
        <img src="../img/add_task.svg" alt="" />
        <p>Add Task</p>
      </a>
    </div>
    <div id="contacts_link" class="menu-items">
      <a href="../html/contacts.html">
        <img src="../img/contacts.svg" alt="" />
        <p>Contacts</p>
      </a>
    </div>
  </div>
  <div class="legal-info-wrapper">
    <a id="privacy_policy_link" href="../html/privacy_policy.html">Privacy Policy</a>
    <a id="legal_notice_link" href="../html/legal_notice.html">Legal Notice</a>
  </div>
</div>
